.tower
    display: block
    position: relative
    top: 50%
    left: 50%
    box-sizing: border-box
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1)

.tower path#tower-body
    stroke: black !important
    stroke-width: 10 !important

.tower svg
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

.tower--selected
    transform: scale(1.2)

.tower--selected path#tower-body
    stroke: black !important
    stroke-width: 15 !important

.tower--player0::after    
    content: 'X'
    font-family: Arial
    font-size: 21px
    display: block
    position: absolute
    left: 50%
    top: 50%
    margin-left: -7px
    margin-top: -11px

.tower--color-0 path#tower-body
    fill: orange !important

.tower--color-1 path#tower-body
    fill: blue !important

.tower--color-2 path#tower-body
    fill: purple !important

.tower--color-3 path#tower-body
    fill: pink !important

.tower--color-4 path#tower-body
    fill: yellow !important

.tower--color-5 path#tower-body
    fill: red !important

.tower--color-6 path#tower-body
    fill: green !important

.tower--color-7 path#tower-body
    fill: brown !important