.dashboard__start-button
    display: inline-block
    cursor: pointer
    border: 1px solid grey
    padding: 5px;
    background-color: #ccc

.dashboard__game
    cursor: pointer
    text-decoration: underline