.color-0
    background-color: orange

.color-1
    background-color: blue

.color-2
    background-color: purple

.color-3
    background-color: pink

.color-4
    background-color: yellow

.color-5
    background-color: red

.color-6
    background-color: green

.color-7
    background-color: brown